extends ./layout/index

block contenido
    main(class="container mt-5")
        div(class="row")
            div(class="col-md-5")
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            div(class="col-md-7")
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur     adipiscing elit. Donec tellus lectus, viverra at urna ac, hendrerit mattis ante. Sed vitae lobortis nulla. Morbi placerat commodo ex, non venenatis enim. Aenean mollis tortor sit amet mi commodo feugiat. Suspendisse pharetra ligula quis tellus finibus, ac fermentum est fringilla.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque tempor ex, in aliquam augue. Curabitur at sem feugiat, accumsan neque ut, tristique urna. Donec sed nibh justo. Sed imperdiet ante sit amet diam vulputate accumsan. Aenean semper nunc eget enim lobortis lacinia. Fusce pellentesque magna vel turpis ultrices, nec dictum lacus pretium. In hac habitasse platea dictumst.

                p Donec orci sem, tempor ac aliquam non, finibus at leo. Quisque iaculis suscipit ipsum rhoncus congue. Integer non mi sed tortor imperdiet commodo sit amet a libero. Praesent elementum, nunc nec dictum porta, lorem diam pretium ligula, vel fermentum ante libero quis felis. Etiam sem neque, egestas nec orci finibus, volutpat gravida odio. Quisque non lorem sit amet diam ornare euismod sed et urna. Nam ligula tortor, eleifend vel ligula vitae, egestas mattis turpis.
    div(class="listado-iconos")
        div(class="container mt-5 py-5 text-center")
            div(class="row")
                div(class="col-md-4")
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2(class="mb-4") Seguridad
                    p Quisque non lorem sit amet diam ornare euismod sed et urna. Nam ligula tortor, eleifend vel ligula vitae, egestas mattis turpis.
                
                div(class="col-md-4")
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2(class="mb-4") Los mejores destinos
                    p Quisque non lorem sit amet diam ornare euismod sed et urna. Nam ligula tortor, eleifend vel ligula vitae, egestas mattis turpis.
                
                div(class="col-md-4")
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2(class="mb-4") Los mejores precios
                    p Quisque non lorem sit amet diam ornare euismod sed et urna. Nam ligula tortor, eleifend vel ligula vitae, egestas mattis turpis.